# Environment variables
.env

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
dist/

# IDE / Editor specific
.vscode/
.idea/

# OS-specific
.DS_Store

# Generated output
results/**/*.png
!results/sentimental_analysis/Disruptive_Tech__EV.png
!results/hk_stock/lstm_prediction_1398.HK.png
